%br
%table.table.table-bordered
  %thead
    %th= sort_link(@search,:id)
    %th= Report.human_attribute_name (:file_name)
    %th= Report.human_attribute_name (:file_type)
    %th= Report.human_attribute_name (:created_at)
    %th= Report.human_attribute_name (:state)
    %th= ''

  - @reports.each do |report|
    %tr
      %td= report.id
      %td= link_to report.file.filename, url_for(report.file) if report.file.attached?
      %td= report.file_type
      %td= report.created_at
      %td= report.state_text
      %td= link_to t('.delete'), admin_report_path(id: report.id), method: :delete, :class => "btn btn-info"
.float-right
  = paginate @reports

.btn.btn-info
  = link_to t('.back'), admin_root_path, :class => "btn btn-info"
