= search_form_for @search, url: admin_clients_path do |f|
  .input-group
    = f.search_field :email_eq, placeholder: t('search_form.search_email'), class: 'form-control'
    = f.button t('search_form.search_button'), class: 'btn btn-info glyphicon glyphicon-search'
%table.table.table-bordered
  %thead
    %th= Client.human_attribute_name(:id)
    %th= Client.human_attribute_name(:name)
    %th= Client.human_attribute_name(:surname)
    %th= Client.human_attribute_name(:email)
    %th= Client.human_attribute_name(:phone_number)
    %th= Client.human_attribute_name(:state)
    %th= t('control')
  - @clients.each do |client|
    %tr
      %td= client.id
      %td= client.name
      %td= client.surname
      %td= client.email
      %td= client.phone_number
      %td= client.human_state_name
      %td= link_to t('.show'), admin_client_path(client)
.float-right
  = paginate @clients
.btn.btn-info
  = link_to t('.create'), new_admin_client_path(@client), :class => "btn btn-info"
.btn.btn-info
  = link_to t('.back'), admin_root_path, :class => "btn btn-info"
.container.col-md-8.mt-4
  %div
    %p.text-center Статистика зарегистрированных клиентов
    = area_chart Client.group_by_day(:created_at).count, max: 8
  
